<div class="container mt-5" id="export">
  <div class="row">
    <div class="col-12">
      <h1 class="text-black-50 text-center">Melhores filmes!</h1>
      <button class="btn btn-primary float-left" (click)="generatePdf()">Exportar para PDF</button>
    </div>
  </div>
  <div class="row mt-5">

    <div class="col-4 p-1" *ngFor="let film of films">
      <div class="card">
        <img [src]="film?.image" class="img-fluid">
        <div class="card-body">
          <h6 class="text-secondary text-center">{{film?.title}}</h6>
          <p class="card-text">
            {{film?.description.substring(0, 149)}} ..
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
